[submodule ".registry"]
	path = .registry
	url = https://github.com/atsa-es/atsa-es.r-universe.dev
	branch = HEAD
[submodule "MAR1"]
	path = MAR1
	url = https://github.com/atsa-es/MAR1
[submodule "MARSS"]
	path = MARSS
	url = https://github.com/atsa-es/MARSS
[submodule "atsalibrary"]
	path = atsalibrary
	url = https://github.com/atsa-es/atsalibrary
[submodule "atsar"]
	path = atsar
	url = https://github.com/atsa-es/atsar
[submodule "bayesdfa"]
	path = bayesdfa
	url = https://github.com/fate-ewi/bayesdfa
[submodule "marssTMB"]
	path = marssTMB
	url = https://github.com/atsa-es/marssTMB
[submodule "maxnet"]
	path = maxnet
	url = https://github.com/BigelowLab/maxnet
[submodule "mvdlm"]
	path = mvdlm
	url = https://github.com/atsa-es/mvdlm
[submodule "tvvarss"]
	path = tvvarss
	url = https://github.com/atsa-es/tvvarss
[submodule "varlasso"]
	path = varlasso
	url = https://github.com/atsa-es/varlasso
